<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-config.dtd">  
      
<configuration>  
	<settings>
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="aggressiveLazyLoading" value="false"/>
	</settings>
    <!-- 全局别名设置，在映射文件中只需写别名，而不必写出整个类路径  -->  
    <typeAliases>    
         <typeAlias type="com.huawei.model.Person" alias="Person"/>
         <typeAlias type="com.huawei.model.User" alias="User"/>
         <typeAlias type="com.huawei.model.OA_User" alias="OA_User"/>
         <typeAlias type="com.huawei.model.OA_Task" alias="OA_Task"/>  
    </typeAliases>     
      <mappers>  
        <mapper resource="com/huawei/mapping/PersonMapper.xml" />
        <mapper resource="com/huawei/mapping/UserMapper.xml" />
        <mapper resource="com/huawei/mapping/OA_UserMapper.xml" />
        <mapper resource="com/huawei/mapping/OA_TaskMapper.xml" />          
    </mappers>
</configuration>